* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-image: url(./img/cover.png);
  padding: 20vw 5rem;
  background-position: center;
  background-size: cover;
}

.cover {
  text-align: center;
  padding-bottom: 5rem;
}

.cover h1 {
  color: #72340e;
  font-size: 100px;
}

.cover h2 {
  font-size: 50px;
}

.flower,
.male-bee,
.female-bee,
.crops,
.nectar,
.proboscis,
.amount-nectar,
.worker-bees,
.water-evap,
.honeycomb,
.map {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  padding: 20vw 10vw;
  align-items: center;
  gap: 5rem;
}

h3 {
  padding-left: 5rem;
}

section img {
  max-width: 50%;
  object-position: right;
}

#bee {
  display: grid;
  justify-content: center;
  margin-bottom: 30vh;
}

.container .beeHives{
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.scrollContainer {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  transition: background-image 2s;
  padding: 10px;
}

.scrollText {
  max-width: 90%;
  padding: 10px;
  background: rgb(255, 255, 255, 0.8);
  color: #000;
  margin: 300px;
}

#changingBg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 500px) {
  .scrollText {
      max-width: 100%;
      background: rgba(255, 255, 255, 0.8);
      margin: 90px;
  }
}
